*{

padding: 0px;
margin: 0px;
box-sizing: border-box;

}

body {

    display: grid;
    grid-template: 
    "a a a"
    "b b b "
    "c c C"/ 1fr 1fr 1fr

    ;
 background-image: url(background.jpeg);
 background-size: cover;

    
}

header{

    
    grid-area: a;
    
    margin-left: 8rem ;
    margin-right: 8rem;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.329);
}

main {

    grid-area: b;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: rgba(8, 8, 8, 0.192);

    display: grid;

    display: grid;
    grid-template: 
    "d "
    "e "
    "f "/ 1fr
}

.styleimg {
    
    /* height: auto ;
    width: 100%; */
   
    max-width: 100%;
    height: auto;
    width: auto\9;

    
    
    border:2px black solid;

}

.imgcontainer p {

    display: flex;
}



.imgcontainer {

   
    padding: 10px;
    width: calc(100%/3);
   
    background-color: rgba(8, 8, 8, 0.315);
    height: 300px;

    display: inline-flex;
    
    /* flex-wrap: wrap */
    
    
}
/* 
@media (max-width:1000px) {

    #img {

        display: grid;
    }

    .imgcontainer {

        display: grid;
        grid-area: a;

        grid-template: 
        ". a ."
        ". a ."/ 1fr 1fr 1fr
        ;
    }
    
} */

#menu {

    grid-area: d;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

}

#input, #colors, #submit, #previousPage, #nextPage{

    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.158);
}

section {

    grid-area: e;
    
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
   
}

#pagenavigation {

    grid-area: f;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

}