*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 
    "a"
    "b"
    "c"/ 1fr;
 background-image: url(background.jpeg);
 background-size: cover;
 background-repeat: no-repeat;
}

header{
    grid-area: a;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    background: rgba(8, 8, 8, 0.192);
    width: 80%;
}

main {
    grid-area: b;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(8, 8, 8, 0.192);
    width: 80%;
    display: grid;
    grid-template: 
    "d"
    "e"
    "f"/ 1fr
}

footer{
    grid-area: c;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(8, 8, 8, 0.192);
    text-align: right;
    font-size: 12px;
    width: 80%;
}

.styleimg {
    width: 250px;
    height: 250px;
    border:2px black solid;
}

.imgcontainer p {
    color: white;
    text-align: center;
}

.imgcontainer {
    padding: 10px;
    display: inline-grid;
}

#menu {
    grid-area: d;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#input, #colors, #submit, #previousPageButton, #nextPageButton{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.158);
    margin: 10px;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.178);
}

#img {
    grid-area: e;
    margin: 2rem;
    background-color: rgba(8, 8, 8, 0.315);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#buttons{
    display: inline-flex;
    grid-area: f;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1000px){
    main, header{
        width: 100%;
    }
}